body {
    font-family: "Arial";
    font-size: 20px;
    color: black;
    user-select: none;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    font-weight: 800;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 10px 1em 0 0;
    font-size: 20px;
}

header {
    background-color: rgb(23,7,43);
    width: 100%;
    height: 130px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
}

.heading {
    color: white;
    text-align: center;
    font-family: "Tahoma";
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline
}


nav {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0 10px 0 10px;
    text-align: center;
}

section {
    display: block;
    background-color:white;
    width: 900px;
    height: 200px;
    margin: 180px 0 0 30px;
}

aside {
    background-color: rgb(23,45,102);
    color: white;
    width: 500px;
    height: 520px;
    position: absolute;
    top: 160px;
    right: 0;
}

.margin {
    margin-left: 30px;
}

#images {
    display: flex;
    justify-content: center;
}

.image {
    border: 1px solid black;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 10px 0 0 20px;
}



article {
    background-color: rgb(7,23,48);
    width: 900px;
    height: 300px;
    margin: 0 0 0 30px;
}

footer {
  width: 100%;
  height: 30px;
  background-color: rgb(140,21,233);
  position: absolute;
  left: 0;
  bottom: 0;
}

p.footer {
    color: white;
    text-align: center;
    margin-top: 5px;
}