* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

p {
    font-size: 50px;
}

.bg {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    background-color: white;}

#floor {
    width: 500px;
    height: 295px;
    bottom: 97px;
    position: absolute;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}

#pink {
    width: 20px;
    height: 50px;
    position: relative;
    left: 60px;
    top: 150px;
}

#blue {
    background-color: aqua;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: blue 2s infinite linear;
}

@keyframes blue {
    0% {
        left: 500px;
    }

    100% {
        left: -20px;
    }
    
}

@keyframes clouds {
    0% {
        left: 500px;
    }

    100% {
        left: -20px;
    }
    
}

@keyframes jump {
    0% {
        top: 150px;
    }

    5% {
        top: 130px;
    }

    10% {
        top: 110px;
    }

    15% {
        top: 90px;
    }

    85% {
        top: 90px;
    }

    90% {
        top: 110px;
    }

    95% {
        top: 130px}

    100% {
        top: 150px;
    }
}

.animate {
    animation: jump 0.3s linear;
}