/* Using user-select property to disallow breaks to be selected */
br {
    user-select: none;
}

/* The header of the HTML document */
header {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

/* This creates the body of temperature calculator */
.body {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Textarea for the input */
textarea {
    border: 1px solid gray;
    border-radius: 2px;
    width: 260px;
    height: 30px;
    padding: 20px;
    font-family: serif;
    font-size: 15px;
    resize: none;
}

/* Making a clas called output to write the output */
.output {
    border: 1px solid gray;
    border-radius: 2px;
    height: 50px;
    width: 260px;
    padding: 20px;
    font-size: 15px;
}

button {
    position: relative;
    left: 130px;
    user-select: none;
}